<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intfocus.hdk.dao.FormCodeMapper" >
  <resultMap id="BaseResultMap" type="com.intfocus.hdk.vo.FormCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="form_type" property="formType" jdbcType="VARCHAR" />
    <result column="code_max" property="codeMax" jdbcType="INTEGER" />
    <result column="datestime" property="datestime" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, form_type, code_max, updated_at, created_at,datestime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from form_code
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from form_code
    <where>
    	    	1=1
			  <if test="null != formType  and '' != formType">
				and form_type  = #{formType,jdbcType=VARCHAR}
			</if>	
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from form_code
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.intfocus.hdk.vo.FormCode" >
    insert into form_code (id, form_type, code_max, 
      updated_at, created_at)
    values (#{id,jdbcType=INTEGER}, #{formType,jdbcType=VARCHAR}, #{codeMax,jdbcType=INTEGER}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.intfocus.hdk.vo.FormCode" >
    insert into form_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="formType != null" >
        form_type,
      </if>
      <if test="codeMax != null" >
        code_max,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="formType != null" >
        #{formType,jdbcType=VARCHAR},
      </if>
      <if test="codeMax != null" >
        #{codeMax,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.intfocus.hdk.vo.FormCode" >
    update form_code
    <set >
      <if test="formType != null" >
        form_type = #{formType,jdbcType=VARCHAR},
      </if>
      <if test="codeMax != null" >
        code_max = #{codeMax,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateMaxCode" parameterType="java.lang.String" >
    update form_code
    set 
      code_max = code_max + 1
    where form_type = #{fromType,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intfocus.hdk.vo.FormCode" >
    update form_code
    set form_type = #{formType,jdbcType=VARCHAR},
      code_max = #{codeMax,jdbcType=INTEGER},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      datestime = #{datestime,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>