@CHARSET "UTF-8";
.loading {
	width:170px;
	height:25px;
	border:3px solid #C3DAF9;
	position:absolute;
	margin-top:-199px;
	margin-left:-88px;
	top:50%;
	left:50%; 
	z-index:10000; 
	background-color:#F7F9FC;
	line-height:25px;
	vertical-align:middle;
	font-size:11pt;
	display:none;
}